.contentBlock {
  background-color: grey;
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  width: 700px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  background-color: blue;
}
.stars span {
  color: #b4b4b4;
  user-select: none;
  cursor: pointer;
  font-size: 15px;
}
.stars .filled {
  color: black;
}
